:root{
    --color1:#D49EE7;
    --color2:#AB62CD;
    --color3:#FFAA88;
    --color4:#FDE3C8;
    --color5:#6FC7E1;
    --color6:#1E4171;
}
.fondo {
    animation: rotate-bg-color 10s infinite;
  }
  
  @keyframes rotate-bg-color {
    0% {
      background-color: var(--color1);
    }
    20% {
      background-color: var(--color2);
    }
    40% {
      background-color: var(--color3);
    }
    60% {
      background-color: var(--color4);
    }
    80% {
      background-color: var(--color5);
    }
    100% {
      background-color: var(--color1);
    }
  }