<!-- JavaScript Libraries comunes -->
<script defer src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script defer src="lib/easing/easing.min.js"></script>

<!-- Vue.js (CDN) para mejoras interactivas no intrusivas -->
<script defer src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>

<!-- Template Javascript -->
<script defer src="js/main.js"></script>
<script defer src="js/components/vue-app.js"></script>
<script defer src="js/components/sponsors-app.js"></script>
